<form [formGroup]="transactionForm" class="transaction-form p-fluid">
  <p-floatLabel>
    <input pInputText formControlName="name" />
    <label for="name">Name</label>
  </p-floatLabel>

  <p-floatLabel>
    <p-inputNumber
      formControlName="amount"
      [min]="0"
      mode="currency"
      locale="en-US"
      currency="USD"
    />
    <label for="amount">Amount</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-dropdown
      formControlName="category"
      [filter]="true"
      filterBy="name"
      optionLabel="name"
      appendTo="body"
      [style]="{ width: '100%' }"
      [options]="categories()"
      [showClear]="true"
      dataKey="name"
    >
      <ng-template let-category pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div
            [style]="
              category.type === categoryType.Expense
                ? 'color: var(--red-500)'
                : 'color: var(--green-500)'
            "
          >
            {{ category.name }}
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <p>Category does not exist</p>
        <p-button
          icon="pi pi-plus"
          severity="success"
          (onClick)="addCategory()"
        />
      </ng-template>
    </p-dropdown>
    <label for="category">Category</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-calendar formControlName="date" appendTo="body" dateFormat="yy-mm-dd" />
    <label for="date">Transaction date</label>
  </p-floatLabel>
  <section class="action">
    <p-button
      type="submit"
      icon="pi pi-check"
      severity="success"
      [disabled]="transactionForm.invalid"
      [rounded]="true"
      [outlined]="true"
      (onClick)="addTransaction()"
    />
    <p-button
      type="reset"
      icon="pi pi-times"
      severity="danger"
      [rounded]="true"
      [outlined]="true"
    />
  </section>
</form>
