<form [formGroup]="transactionForm" class="transaction-form p-fluid">
  <p-floatLabel>
    <input pInputText formControlName="name" />
    <label for="name">Name</label>
  </p-floatLabel>

  <p-floatLabel>
    <p-inputNumber
      formControlName="amount"
      mode="currency"
      locale="en-US"
      currency="USD"
    />
    <label for="amount">Amount</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-dropdown
      formControlName="category"
      [filter]="true"
      filterBy="name"
      optionLabel="name"
      appendTo="body"
      [style]="{ width: '100%' }"
      [options]="categories"
      [showClear]="true"
    />
    <label for="category">Category</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-calendar formControlName="transactionDate" appendTo="body" />
    <label for="date">Transaction date</label>
  </p-floatLabel>
  <section class="flex gap-4">
    <p-button
      type="submit"
      icon="pi pi-plus"
      severity="success"
      [rounded]="true"
      [outlined]="true"
    />
    <p-button
      type="reset"
      icon="pi pi-times"
      severity="danger"
      [rounded]="true"
      [outlined]="true"
    />
  </section>
</form>
